<h1>Editing <%= @event.name %></h1>

<form action="/events/<%= @event.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label for="Name">Name:</label>
  <input type="text" name="event[name]" id="Name" value="<%= @event.name %>">
  <label for="Date">Date:</label>
  <input type="text" name="event[date]" id="Date" value="<%= @event.date %>">
  <label for="City">City:</label>
  <input type="text" name="event[city]" id="City" value="<%= @event.city %>">
  <label>State</label>
  <label>State</label>
    <%= select_tag "event[state]", options_from_collection_for_select(@states, "id", "name", @event.state_id) %>
		</select>
  <input type="submit" value="Update Event">
</form>
<a href="/events/">Back</a>